image: kasproject/kas-isar:2.2

variables:
  GIT_STRATEGY: clone

all:
  stage: build
  script:
    - export http_proxy=$HTTP_PROXY
    - export https_proxy=$HTTPS_PROXY
    - export ftp_proxy=$FTP_PROXY
    - export no_proxy=$NO_PROXY

    - kas build kas-iot2050-example.yml
    - kas build kas-iot2050-example.yml:kas/opt/preempt-rt.yml
    - sudo rm -rf build/tmp
    - kas build kas-iot2050-boot-basic.yml
    - kas build kas-iot2050-boot-advanced.yml
