# GPIO
SUBSYSTEM=="gpio*", PROGRAM="/bin/sh -c 'find -L /sys/class/gpio/ -maxdepth 2 -exec chown root:gpio {} \; -exec chmod 770 {} \; || true;'"
KERNEL=="gpiochip*", GROUP="gpio", MODE="0660", PROGRAM="/bin/sh -c 'chown -R root:pinctrl /sys/kernel/debug && chmod -R 770 /sys/kernel/debug'"

# PWM
SUBSYSTEM=="pwm", PROGRAM="/bin/sh -c 'find -L /sys/class/pwm/ -maxdepth 3 -not -path \"*device*\" -not -path \"*power*\" -exec chown root:pwm {} \; -exec chmod 770 {} \; || true;'"

# SPI
KERNEL=="spidev*", GROUP="spi", MODE="0660"

# I2C
KERNEL=="i2c-dev*", GROUP="i2c", MODE="0660"

# IIO
KERNEL=="iio:device0", GROUP="iio", MODE="0660", PROGRAM="/bin/sh -c 'chown -R root:iio /sys/bus/iio/devices/iio:device0/in_voltage*_raw && chmod -R 770 /sys/bus/iio/devices/iio:device0/in_voltage*_raw'"
