#!/usr/bin/make -f

export JAVA_HOME=/usr/lib/jvm/default-java

%:
	dh $@

override_dh_auto_test:
	echo "skipping test"

override_dh_auto_configure:
	dh_auto_configure -- -DBUILDSWIGJAVA=ON -DBUILDSWIGNODE=ON

override_dh_install:
	dh_install
	mv debian/mraa/usr/lib/lib/java debian/mraa/usr/share/
	rmdir debian/mraa/usr/lib/lib
