ustate=0
sysselect=1
toggle_active=echo 'Switching active partition ...'; if test $sysselect = 1;then setenv sysselect 2; else setenv sysselect 1; fi; echo Active system is now $sysselect;
update_sysselect=if env exists ustate && env exists sysselect; then if test $ustate = 0; then echo SWUpdate: no update pending.; elif test $ustate = 1; then echo SWUpdate: ustate = INSTALLED ; setenv ustate 2; run toggle_active; saveenv; elif test $ustate = 2; then echo SWUpdate: ustate = FAILED; setenv ustate 3; run toggle_active; saveenv; elif test $ustate = 3; then echo SWUpdate: still in FAILED; else echo SWUpdate: invalid ustate; fi; setenv distro_bootpart ${sysselect}; if fstype ${devtype} ${devnum}:${distro_bootpart} bootfstype; then run scan_dev_for_boot; fi; else echo SWUpdate: some variables are missing!; fi
scan_dev_for_boot_part_fallback=part list ${devtype} ${devnum} -bootable devplist; env exists devplist || setenv devplist 1; for distro_bootpart in ${devplist}; do if fstype ${devtype} ${devnum}:${distro_bootpart} bootfstype; then run scan_dev_for_boot; fi; done; setenv devplist
start_watchdog=wdt dev watchdog@40610000 || wdt dev rti@40610000; wdt start 60000
scan_dev_for_boot_part=if env exists sysselect; then run start_watchdog; run update_sysselect; else run scan_dev_for_boot_part_fallback; fi
