#!/usr/bin/env python3
#
# Copyright (c) Siemens AG, 2024
#
# Authors:
#  Li Hua Qian <huaqian.li@siemens.com>
#
# SPDX-License-Identifier: MIT

import sys
import argparse
import textwrap

from iot2050_module_firmware_update import (
    ModuleFirmwareUpdateError,
    update_module_firmware,
)

def main(args):
    description=textwrap.dedent('''\
        Script for updating module firmware on IoT2050
        Examples usage:
          1. iot2050-module-firmware-update -s 1 -fwa firmwareA.bin
          2. iot2050-module-firmware-update -s 1 -fwa firmwareA.bin -fwb firmwareB.bin
         ''')
    parser = argparse.ArgumentParser(
        description=description,
        formatter_class=argparse.RawDescriptionHelpFormatter
    )
    parser.add_argument(
        "-s", "--slot",
        type=int,
        required=True,
        help="Slot number"
    )
    parser.add_argument(
        "-fwa", "--firmware-a",
        help="Path to firmware A file",
        type=argparse.FileType('rb')
    )
    parser.add_argument(
        "-fwb", "--firmware-b",
        help="Path to firmware B file",
        type=argparse.FileType('rb')
    )
    args = parser.parse_args(args)

    if not args.firmware_a and not args.firmware_b:
        print("Error: No firmware file specified")
        parser.print_help()
        return 1

    try:
        update_module_firmware(
            args.slot,
            args.firmware_a,
            args.firmware_b,
            on_chip_start=lambda chip: print(f"Updating firmware {chip} ..."),
        )
    except ModuleFirmwareUpdateError as e:
        print(f"Error: Failed to write firmware {e.chip}, {e.error}")
        return 1

    print("Firmware updated successfully. Please reboot the upgraded module.")

    return 0

if __name__ == '__main__':
    CODE = main(sys.argv[1:])
    sys.exit(CODE)

