# Copyright (c) Siemens AG, 2026
# SPDX-License-Identifier: MIT

[Unit]
Description=IOT2050 Module Firmware gRPC service
ConditionFirmware=device-tree-compatible(siemens,iot2050-advanced-sm)
Requires=iot2050-eiofsd.service
After=iot2050-eiofsd.service
BindsTo=iot2050-eiofsd.service

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/iot2050-module-firmware-service
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=2
TimeoutStopSec=infinity
KillMode=control-group

[Install]
WantedBy=multi-user.target