#
# Copyright (c) Siemens AG, 2019
#
# Authors:
#  Le Jin <le.jin@siemens.com>
#
# This file is subject to the terms and conditions of the MIT License.  See
# COPYING.MIT file in the top-level directory.
#

echo $HOSTNAME > /etc/hostname
echo "127.0.0.1	${HOSTNAME}" >> /etc/hosts

# set nodejs environment for module searching
echo "NODE_PATH=\"/usr/lib/node_modules/:/usr/local/lib/node_modules/\"" >> /etc/environment
