# Copyright (c) Siemens AG, 2026
#
# Authors:
#  Li Hua Qian <huaqian.li@siemens.com>
#
# SPDX-License-Identifier: MIT

[Unit]
Description=Mark IOT2050 SM variant board
ConditionFirmware=device-tree-compatible(siemens,iot2050-advanced-sm)

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'mkdir -p /run/iot2050 && touch /run/iot2050/sm-board'
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target