SUBSYSTEM=="tty", SUBSYSTEMS=="usb", KERNELS=="3-1.4:1.0", DRIVERS=="cp210x", SYMLINK+="ttyX30"
SUBSYSTEM=="tty", KERNEL=="ttyS2", DRIVERS=="omap8250", SYMLINK+="ttyX30"
