[Unit]
Description=Node-RED
After=syslog.target network.target

[Service]
Type=idle
User=root
WorkingDirectory=${NODE_RED_HOME_DIR}
ExecStart=/usr/bin/node-red -u ${NODE_RED_HOME_DIR}/.node-red

[Install]
WantedBy=multi-user.target
