#!/usr/bin/make -f
#
# Copyright (c) Siemens AG, 2020
#
# Authors:
#  Jan Kiszka <jan.kiszka@siemens.com>
#

ifneq ($(DEB_BUILD_GNU_TYPE),$(DEB_HOST_GNU_TYPE))
export CROSS_COMPILE=$(DEB_HOST_GNU_TYPE)-
endif

PARALLEL_BUILD=-j $(shell echo $$(($$(nproc) * 2)))

override_dh_auto_build:
	CFLAGS= LDFLAGS= $(MAKE) $(PARALLEL_BUILD) PLAT=k3 SPD=opteed K3_USART=1

%:
	dh $@
