{
    "firmware": [
        {
            "description": "IOT2050 Bootloader Backup Firmware",
            "name": "iot2050-pg-image-boot.bin",
            "type": "uboot",
            "target_boards": ""
        }
    ],
    "target_os": [
        {
            "type": "Example Image",
            "key": "BUILD_ID",
            "min_version": "V01.01.01"
        }
    ],
    "suggest_preserved_uboot_env": [
        "boot_targets"
    ]
}
