[Unit]
Description=HailoRT service
Documentation=https://github.com/hailo-ai/hailort

[Service]
Type=forking
EnvironmentFile=/etc/default/hailort_service
ExecStart=/usr/bin/hailort_service
Restart=on-failure
RemainAfterExit=yes
PIDFile=/run/hailo/hailort_service.pid
ExecReload=/bin/kill -HUP $MAINPID
ExecStartPost=/bin/sleep 0.1

[Install]
WantedBy=multi-user.target
