{
    "firmware": [
        {
            "description": "IOT2050 Bootloader Backup Firmware",
            "name": "iot2050-pg-image-boot.bin",
            "type": "uboot",
            "target_boards": ""
        }
    ],
    "target_os": [
        {
            "type": "${IMAGE_FULLNAME}",
            "key": "${OS_VERSION_KEY}",
            "min_version": "${MIN_OS_VERSION}"
        }
    ],
    "suggest_preserved_uboot_env": [
        "boot_targets"
    ]
}
