{
    "firmware": [
        {
            "description": "IOT2050 Bootloader Backup Firmware",
            "name": "iot2050-pg-image-boot.bin",
            "type": "uboot",
            "target_boards": ""
        }
    ],
    "suggest_preserved_uboot_env": [
        "boot_targets"
    ]
}
