### EFI boot config
CONFIG_USE_BOOTCOMMAND=y
CONFIG_CMD_NVEDIT_EFI=y
CONFIG_BOOTCOMMAND="setenv scan_dev_for_boot 'if test -e ${devtype} ${devnum}:${distro_bootpart} efi/boot/bootaa64.efi; then load ${devtype} ${devnum}:${distro_bootpart} ${kernel_addr_r} efi/boot/bootaa64.efi; setenv -e -bs -rt IOT2050BootDevice ${devtype}${devnum}; bootefi ${kernel_addr_r} ${fdtcontroladdr}; fi'; run start_watchdog; run distro_bootcmd"
